# Files
.curseclient
options.txt
realms_persistence.json
optionsof.txt
patchouli_data.json
usercache.json
usernamecache.json
imm_ptl_state.json

# Folders
.mixin.out/
logs/
mods/
resourcepacks/
saves/
XaeroWaypoints/
XaeroWaypoints_*/
XaeroWorldMap/
